.pagination-container {
  padding-top: 16px;
  padding-bottom: 16px;

  .pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    list-style: none;

    li {
      margin: 0 3px;
      transition: color 0.3s ease;
      font-weight: bolder;
      font: var(--base-font);
      font-weight: bolder;
      color: var(--theme-text-primary);
      display: flex;

      > * {
        padding: 6px 12px;
      }

      a {
        transition: transitions(color, 0.3s);

        &:hover {
          color: var(--theme-text-active);
        }
      }

      .icon {
        height: 1em;
      }

      &.active {
        @include soft-box--active(var(--radius));
        color: var(--theme-text-active);
        border-radius: 3px;
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .ellipsis {
      width: 2.6em;

      .icon:last-child {
        display: none;
      }

      &:hover {
        .icon:first-child {
          display: none;
        }

        .icon:last-child {
          display: inline-block;
        }
      }
    }
  }
}